.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
  padding: 0px 40px;
}

.App-link {
  color: #09d3ac;
}
